@media (max-width: 1240px) {
   .container {
      max-width: 1020px !important;
   }
}
 
@media (max-width: 1070px) {
   .container {
      max-width: 900px !important;
   }
}
 
@media (max-width: 940px) {
   .container {
      max-width: 819px !important;
   }
}
 
@media (max-width: 860px) {
   .container {
      max-width: 713px !important;
   }
}
 
@media (max-width: 768px) {
   .container {
      max-width: 600px !important;
   }
}
 
@media (max-width: 620px) {
   .container {
      max-width: 500px !important;
   }
}
 
@media (max-width: 520px) {
   .container {
      max-width: 400px !important;
   }
}
 
@media (max-width: 440px) {
   .container {
      max-width: 300px !important;
   }
}
 
@media (max-width: 375px) {}